@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

.formobile {
    display: none;
}

:root {
    --bs-body-color: #fff !important;
}

* {
    font-family: "poppin", sans-serif !important;
    font-weight: 400 !important;
}

.ramabhadra-regular {
    font-family: "Ramabhadra", sans-serif !important;
    font-weight: 500 !important;
}

.fordesktop .nav-item {
    margin: 0 10px;
}

.fordesktop .nav-item .nav-link {
    font-weight: 100 !important;
}

i.bi.bi-person {
    font-size: 23px;
}

i.bi.bi-search {
    font-size: 20px;
}

.hero-section {
    background-image: url('images/hero-banner-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #DDFDF0;
    border-radius: 0 0 0 200px;
    border-bottom: 20px solid #008752;
}

.hero-section h1 {
    color: #0078AE;
    font-size: 62px;
    line-height: 1.3;
}

.hero-section h1 span {
    background-color: #008752;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: 700 !important;
}

.hero-section p {
    font-size: 20px;
    color: #000;
}

.hero-section .get-started {
    background-color: #008752;
    border-radius: 30px;
    font-size: 20px;
}

.hero-section .learn-more {
    background-color: #000000;
    color: white;
    border-radius: 30px;
    font-size: 20px;
}

.hero-section img {
    max-width: 900px;
    border-radius: 15px;
}

.success-section h2 {
    color: #0078AE;
    font-size: 50px;
}

.success-section p {
    color: #000;
    font-size: 20px;
}

.success-section .image-card {
    background-color: #76C54B;
    padding: 10px;
    border-radius: 12px;
    width: 60px;
}

.success-section h4 {
    font-size: 28px;
}

.success-section .arrow-image {
    position: absolute;
    background-color: #76C54B;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    right: 20px;
    bottom: 20px;
}

.driven {
    background-image: url('images/bg-vector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.driven h2 {
    font-size: 52px;
    font-family: "Ramabhadra", sans-serif !important;
}

.driven p {
    font-size: 20px;
}

.driven .left-card {
    background-color: #0484CD;
    border-radius: 20px 0 0 0;
}

.driven .right-card {
    background-color: #0484CD;
    border-radius: 0 20px 0 0;
}

.driven .left-card h2,
.driven .right-card h2 {
    font-size: 46px;
}

.driven .left-card p,
.driven .right-card p {
    font-size: 20px;
}

.explore h2 {
    color: #0078AE;
    font-size: 46px;
}

.explore p {
    color: #000;
    font-size: 20px;
}

.ecard {
    height: 290px;
    transition: 0.5s;
}

.ecard:hover {
    height: 400px;
    transition: 0.5s;
}

.ecard:hover .shadow-sm {
    background-color: #0484CD !important;
    transition: 0.5s;
}

.ecard:hover .e-btn {
    visibility: visible;
    transition: 0.5s;
}

.ecard:hover h4,
.ecard:hover p {
    color: #fff !important;
}

.e-btn {
    text-align: center;
    display: block;
    height: 50% !important;
    width: 50%;
    border-radius: 50% 50%;
    border-bottom: 0 !important;
    padding: 10px;
    background-color: #78C64A !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.explore-btn {
    background: transparent;
    color: #fff;
    font-size: 22px;
    outline: none;
    border: none;
    margin-top: 10px;
}

.explore .ecard div {
    background-color: #DDFDF0;
    border-bottom: 10px solid #78C64A;
    overflow: hidden;
    padding-bottom: 0 !important;
}

.explore .ecard img {
    width: 100%;
}

.explore .ecard h4 {
    color: #0484CD;
    font-size: 22px;
    font-family: "Ramabhadra", sans-serif !important;
    font-weight: 400 !important;
}

.explore .ecard p {
    color: #000;
}

.itswork {
    background-color: #0484CD;
}

.itswork h2 {
    font-size: 50px;
    font-family: "Ramabhadra", sans-serif !important;
}

.itswork h3 {
    background-color: #8CC53D;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 35px;
    font-weight: bold !important;
}

.itswork h4 {
    font-size: 30px;
    font-family: "Ramabhadra", sans-serif;
    font-weight: bold !important;
}

.itswork p {
    font-size: 18px;
}

.itswork img {
    position: absolute;
    right: 0;
    top: 0;
}

.itswork h4,
.itswork p {
    color: #fff;
}

.reviewsspeak h2 {
    color: #0078AE;
    font-size: 45px;
    font-family: "Ramabhadra", sans-serif;
}

.reviewsspeak p {
    color: #000;
    font-size: 18px;
}

.reviewsspeak .t-card p,
.reviewsspeak .t-card span {
    color: #000;
    font-size: 13px;
}

.t-card {
    background: #E8FFF7;
    border-radius: 22px;
    padding: 32px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 8px 25px;
    text-align: left;
    transition: all .4s ease;
    opacity: .3;
    transform: scale(.75);
}

.swiper-slide-active p,
.swiper-slide-active span {
    color: #fff !important;
}

.swiper-slide-active {
    background: #7dc242 !important;

    transform: scale(1.55) !important;
    opacity: 1 !important;
    z-index: 10;
}

.swiper-slide-next,
.swiper-slide-prev {
    opacity: .6 !important;
    transform: scale(.9);
}

.profile-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.stars {
    font-size: 20px;
    color: #ffb400;
    font-weight: bold;
}

.swiper {
    margin-top: 100px;
    overflow-y: inherit !important;
}

.realestate {
    background-image: url('images/vector2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #DDFDF0;
    border-radius: 0 200px 0 0;
    border-top: 20px solid #0484CD;
}

.realestate h2 {
    color: #0078AE;
    font-size: 52px;
    line-height: 1.3;
    font-family: "Ramabhadra", sans-serif !important;
}

.realestate span {
    background-color: #008752;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 8px;
}

.realestate p {
    font-size: 18px;
    color: #000;
}

.realestate .get-started {
    background-color: #008752;
    border-radius: 30px;
    font-size: 18px;
}

.realestate .learn-more {
    background-color: #000;
    color: white;
    border-radius: 30px;
    font-size: 18px;
}

.faqs h2 {
    color: #0078AE;
    font-size: 45px;
    font-family: "Ramabhadra", sans-serif !important;
}

.faqs p {
    color: #000;
    font-size: 18px;
}

.accordion-item {
    background-color: #0484CD;
    color: #fff;
    border: 0;
    margin: 10px auto;
    font-size: 18px;
}

.accordion-button:not(.collapsed) {
    background-color: #0484CD;
    color: #fff;
    font-size: 18px;
}

/* Default Button */
.accordion-button {
    background-color: #DDFDF0;
    color: #000;
    font-weight: 600;
    margin: 0;
}

/* Active/Open Button */
.accordion-button.active-acc {
    background-color: #0484CD !important;
    color: #fff !important;
}

/* Body when active */
.accordion-body.active-body {
    background-color: #0484CD;
    color: #fff;
    border-left: 4px solid #0484CD;
    border-right: 4px solid #0484CD;
    border-bottom: 4px solid #0484CD;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("images/minus.png");
}

.accordion-button::after {
    background-image: url("images/plus.png");
}

.footer {
    background-color: #242424;
    border-radius: 200px 0 0 0;
    border-top: 20px solid #8CC53D;
}

.footer h5 {
    color: #8CC53D;
    font-family: "Ramabhadra", sans-serif !important;
    font-size: 20px;
}

.footer-links li a {
    color: #e0e0e0;
    display: inline-block;
    padding: 3px 0;
    text-decoration: none;
    transition: .3s;
}

.footer .bi {
    color: #8CC53D;
}

.b-footer {
    background-color: #0484CD;
    color: white;
}

/* Hover Effects */

.success-card:hover div {
    background-color: #0484CD !important;
    transition: 0.5s;
}

.success-card:hover h4,
.success-card:hover p {
    color: #fff !important;
}

.footer .bi:hover {
    color: #fff;
}

.footer-links li a:hover {
    color: #fff !important;
    padding-left: 4px;
}

.footer-icon:hover {
    color: #8CC53D !important;
}

.header * {
    text-align: center !important;
}

/* ABOUT PAGE STYLES */

.banner {
    background-color: #DDFDF0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #DDFDF0;
    border-radius: 0 0 0 200px;
    border-bottom: 20px solid #008752;
    padding: 160px;
}

.banner h1 {
    color: #0078AE;
    font-size: 62px;
    font-weight: bold;
}

.banner h1 span {
    background-color: #008752;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: bold !important;
    border-radius: 8px;
}

.banner p {
    font-size: 20px;
    color: #242424;
    font-weight: 400;
}

.our-mission h2 {
    color: #0078AE;
    font-size: 62px;
    font-weight: 400 !important;
    font-family: "Ramabhadra", sans-serif !important;
}

.our-mission h4 {
    color: #008752;
    font-size: 32px;
    font-weight: 100 !important;
    font-family: "Ramabhadra", sans-serif !important;
}

.our-mission p {
    color: #242424;
    font-size: 20px;
    letter-spacing: 1.05px;
    font-weight: 100 !important;
}

.our-mission img {
    border-radius: 65px;
    box-shadow: 15px 15px 00px 0 #76C54B;
}

.whoweserve img {
    border-radius: 65px;
    box-shadow: 15px 15px 00px 0 #0484CD;
}

.whoweserve h2 {
    color: #0078AE;
    font-size: 62px;
    font-weight: 400 !important;
    font-family: "Ramabhadra", sans-serif !important;
}

.whoweserve p {
    color: #242424;
    font-size: 20px;
    letter-spacing: 1.05px;
    font-weight: 100 !important;
}

.whoweserve li {
    color: #242424;
    font-size: 18px;
    letter-spacing: 1.05px;
    font-weight: 100 !important;
    margin: 15px 0;
}

.whoweserve li strong {
    background-color: #76C54B;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold !important;
    border-radius: 5px;
}

.whoweserve li::marker {
    color: #0484CD;
    font-size: 30px;
}

.about-driven {
    margin-bottom: 80px;
}

.about-driven h2 {
    font-size: 45px;
    font-weight: 400 !important;
    font-family: "Ramabhadra", sans-serif !important;
}

.about-driven p {
    font-size: 18px;
    letter-spacing: 1.05px;
    font-weight: 100 !important;

}

.about-driven img {
    transform: translateY(40px);
}


/* Features Page Styles */
.cfone {
    background-color: #76C54B;
    background-image: url("images/feature-image.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 30px;
    padding: 80px;
}

.cfone h4 {
    font-size: 38px;
    font-family: "Ramabhadra", sans-serif !important;
    font-weight: 400 !important;

}

.cfone h2 {
    font-size: 55px;
    font-family: "Ramabhadra", sans-serif !important;
    font-weight: 400 !important;
}

.cfone p {
    font-size: 20px;
    font-weight: 100 !important;

}

.cfone li {
    font-size: 18px;
    letter-spacing: 1.05px;
    font-weight: 100 !important;
    margin: 15px 0;
}

.cfone li strong {
    background-color: #0484CD;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold !important;
    border-radius: 5px;
}

.cfone li::marker {
    color: #0484CD;
    font-size: 30px;
}

.cftwo {
    background-color: #0484CD;
    background-image: url("images/feature-image.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 30px;
    padding: 80px;
}

.cftwo h4 {
    font-size: 38px;
    font-family: "Ramabhadra", sans-serif !important;
    font-weight: 400 !important;

}

.cftwo h2 {
    font-size: 55px;
    font-family: "Ramabhadra", sans-serif !important;
    font-weight: 400 !important;
}

.cftwo p {
    font-size: 20px;
    font-weight: 100 !important;

}

.cftwo li {
    font-size: 18px;
    letter-spacing: 1.05px;
    font-weight: 100 !important;
    margin: 15px 0;
}

.cftwo li strong {
    background-color: #76C54B;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold !important;
    border-radius: 5px;
}

.cftwo li::marker {
    color: #76C54B;
    font-size: 30px;
}

/* Contact Us Page Styles */
.map-wrapper {
    position: relative;
    height: 450px;
    overflow: hidden;
}

.map-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.map-content {
    position: relative;
    z-index: 2;
}

.info-box {
    background: #007bff;
    color: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 260px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

@media (max-width: 425px) {

    .contactform * {
        text-align: center !important;
    }

    .contactform input {
        font-size: 16px !important;
    }

    .contactform h2 {
        font-size: 30px;
    }
}

/* Blogs Page Style */
.blog img {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.blog h3 i,
.blog-boxes-card i {
    color: #76C54B;
}

.blog h3,
.blog-boxes-card h3 {
    color: #242424;
    font-size: 18px;
    font-weight: 100 !important;
}

.blog h2 {
    color: #0078AE;
    font-size: 60px;
    font-family: "Ramabhadra", sans-serif !important;
    font-weight: 400 !important;
}

.blog p {
    color: #242424;
    font-size: 18px;
    font-weight: 100 !important;
}

.blog .learn-more,
.blog-boxes-card .btn-learn-more,
.blog-boxes .learn-more {
    background-color: #008752;
    color: white;
    border-radius: 30px;
    font-size: 18px;
}

/* Pricing File Style */
.pricing h4 {
    font-size: 50px;
    font-family: "Ramabhadra", sans-serif !important;
    font-weight: 500 !important;

}

.pricing span {
    font-size: 45px;
    font-weight: bold !important;
    color: #000;
}

.pricing h6 {
    color: #0484CD !important;
}

.pricing ul li {
    list-style: none;
    color: #000;
    margin: 15px auto;
}

.pricing ul li i {
    color: #8CC53D;
}

.pricing:nth-child(1) div {
    border-radius: 50px 0 0 0 !important;
}

.pricing:nth-child(3) div {
    border-radius: 0 50px 0 0 !important;
}

.pricing:hover div {
    background-color: #0078AE !important;
    transition: 0.5s all !important;
}

.pricing:hover * {
    color: #fff !important;
}

.pricing-tab {
    border: none;
    background: #E4F7EF;
    padding: 10px 25px;
    margin: 0 5px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
}

.pricing-tab.active {
    background: #0BAA5D;
    color: #fff;
}

.btn-subscribe {
    background-color: #8CC53D;
    color: #fff;
    font-size: 18px;
}

.btn-subscribe:hover {
    color: #8CC53D !important;
    border: 1px solid #8CC53D;
    background-color: #fff;
}

.get-started:hover {
    border: 1px solid #008752;
    background-color: #fff !important;
    color: #008752 !important;
}

.learn-more:hover {
    border: 1px solid #000000;
    background-color: #fff !important;
    color: #000000 !important;
}


@media (max-width: 1024px) {
    .banner {
        padding: 80px;
    }

    .our-mission img,
    .whoweserve img {
        width: 100%;
    }

    .our-mission h2 {
        font-size: 45px;
    }

    .our-mission h4 {
        font-size: 26px;
    }

    .our-mission p,
    .whoweserve li {
        font-size: 16px;
    }

    .cfone {
        padding: 20px;
    }

    .cfone h4 {
        font-size: 32px;

    }

    .cfone h2 {
        font-size: 45px;
    }

    .cfone p {
        font-size: 16px;
        margin-bottom: 20px !important;
    }

    .cfone li {
        font-size: 16px;
    }

    .cfone li::marker {
        font-size: 25px;
    }

    .cftwo {
        padding: 20px;
    }

    .cftwo h4 {
        font-size: 32px;

    }

    .cftwo h2 {
        font-size: 45px;
    }

    .cftwo p {
        font-size: 16px;
        margin-bottom: 20px !important;
    }

    .cftwo li {
        font-size: 16px;
    }

    .cftwo li::marker {
        font-size: 25px;
    }

    .formobile {
        display: block;
    }

    .fordesktop {
        display: none;
    }

    .nav-link,
    .nav-item .btn {
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    .hero-section {
        border-radius: 0 0 0 150px;
    }

    .hero-section h1,
    .success-section h2,
    .driven h2,
    .explore h2,
    .reviewsspeak h2,
    .realestate h2,
    .faqs h2,
    .itswork h2 {
        font-size: 40px;
        line-height: 1.3;
    }

    .hero-section p,
    .success-section p,
    .driven p,
    .explore p,
    .reviewsspeak p,
    .realestate p,
    .faqs p {
        font-size: 18px;
    }

    .reviewsspeak {
        overflow: hidden;
    }

    .hero-section .get-started,
    .hero-section .learn-more,
    .realestate .get-started,
    .realestate .learn-more {
        font-size: 18px;
    }

    .driven .left-card h2,
    .driven .right-card h2 {
        font-size: 28px;
    }

    .driven .left-card p,
    .driven .right-card p {
        font-size: 18px;
    }

    .itswork img {
        top: 20px;
        width: 50% !important;
    }

    .itswork h4 {
        font-size: 22px;
    }

    .itswork p {
        font-size: 16px;
    }

    .footer h5 {
        font-size: 20px;
    }

    .footer-links li,
    footer p {
        font-size: 15px;
    }

}

@media (max-width: 768px) {
    .banner {
        padding: 40px;
        border-radius: 0 0 0 100px;
    }

    .banner h1,
    .whoweserve h2,
    .about-driven h2,
    .blog h2 {
        font-size: 40px !important;
    }

    .banner p,
    .whoweserve p {
        font-size: 18px;
    }

    .our-mission h2,
    .our-mission h4,
    .our-mission p {
        text-align: center;
    }

    .whoweserve div {
        justify-content: center !important;
    }

    .hero-section {
        padding: 0 !important;
        border-radius: 0 0 0 80px;
    }

    .hero-section img {
        width: 100%;
    }

    .hero-section h1,
    .success-section h2,
    .driven h2,
    .explore h2,
    .reviewsspeak h2,
    .realestate h2,
    .faqs h2,
    .itswork h2,
    .cfone h2,
    .cftwo h2 {
        font-size: 30px !important;
    }

    .hero-section p,
    .success-section p,
    .driven p,
    .explore p,
    .reviewsspeak p,
    .realestate p,
    .faqs p,
    .cfone p {
        font-size: 16px !important;
    }

    .explore,
    .success-section,
    .driven,
    .realestate,
    .footer {
        padding: 20px !important;
    }

    .itswork img {
        display: none;
    }

    .swiper {
        overflow: inherit;
    }

    .swiper-slide {
        transform: scale(1) !important;
    }

    .swiper-slide-active {
        transform: scale(1.2) !important;
    }

    .realestate {
        border-radius: 0 150px 0 0;
    }

    .footer {
        text-align: center;
    }

    .footer div {
        justify-content: center;
    }

    .footer .container {
        padding: 0;
        width: 100% !important;
    }

    .footer h5 {
        font-size: 17px;
    }

    .cfone h4,
    .cftwo h4 {
        font-size: 22px !important;
    }

    .bg-white {
        padding: 20px !important;
    }

    .reviewsspeak {
        margin: 10px !important;
    }

    .reviewsspeak p {
        margin: 0 !important;
    }

    .footer {
        border-radius: 100px 0 0 0;
    }

}

@media (max-width: 576px) {
    .ecard {
        height: 260px;
    }

    .ecard:hover {
        height: 360px;
    }

    .footer {
        text-align: center;
    }

    .footer div {
        justify-content: center;
    }

    .b-footer * {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .banner {
        padding: 0 20px 10px !important;
    }

    .banner p,
    .whoweserve p,
    .hero-section p,
    .success-section p,
    .driven p,
    .explore p,
    .reviewsspeak p,
    .realestate p,
    .faqs p,
    .cfone p {
        font-size: 14px !important;
    }

    .our-mission {
        padding: 10px !important;
    }

    .our-mission h2,
    .whoweserve h2,
    .about-driven h2 {
        font-size: 35px;
    }

    .our-mission h4 {
        font-size: 22px;
    }

    .banner h1,
    .whoweserve h2,
    .about-driven h2,
    .blog h2 {
        font-size: 26px !important;
    }

    .blog-boxes,
    .blog-boxes-card {
        padding: 0px !important;
        margin-bottom: 20px !important;
        text-align: center !important;
    }

    .blog-boxes-card div {
        padding: 10px !important;
    }

    .contactform.cfone {
        padding: 10px !important;
    }

    .map-content {
        justify-content: center !important;

    }

    .cfone {
        background-size: 80px;
        padding-bottom: 40px;
    }

    .cftwo {
        background-size: 80px;
        padding-bottom: 40px;
    }

    .blog {
        text-align: center !important;
    }

    .pricing {
        padding: 00px !important;
    }

    .pricing h4 {
        font-size: 32px !important;
    }

    .pricing span {
        font-size: 28px !important;
    }

    .pricing ul li,
    .btn-subscribe {
        font-size: 14px !important;
    }
}


@media (min-width:320px) and (max-width: 529px) {

    .hero-section .explore,
    .success-section,
    .driven,
    .realestate,
    .footer,
    .explore,
    .success-section,
    .driven,
    .realestate,
    .footer,
    .itswork,
    .itswork div,
    .faqs {
        padding: 10px !important;
    }

    .hero-section h1,
    .success-section h2,
    .driven h2,
    .explore h2,
    .reviewsspeak h2,
    .realestate h2,
    .faqs h2,
    .itswork h2,
    .our-mission h2,
    .whoweserve h2,
    .about-driven h2 {
        font-size: 28px !important;
    }

    .hero-section .get-started,
    .hero-section .learn-more,
    .realestate .get-started,
    .realestate .learn-more {
        font-size: 14px !important;
    }

    .success-card div {
        padding: 10px !important;
        text-align: center !important;
    }

    .success-section .arrow-image {
        right: 50%;
        bottom: 5px;
        transform: translateX(50%);
    }

    .success-section h4 {
        font-size: 22px;
    }

    .hero-section p,
    .success-section p,
    .driven p,
    .explore p,
    .reviewsspeak p,
    .realestate p,
    .faqs p,
    .itswork p,
    .about-driven p,
    .our-mission p {
        font-size: 14px;
    }

    .blog-boxes .pricing-tab {
        display: block !important;
        width: 100% !important;
        margin: 5px auto;
    }

    .blog-boxes .pricing-content {
        margin: 0 !important;
    }

    .driven div {
        padding: 10px !important;
    }

    .driven p {
        margin-bottom: 0 !important;
    }

    .itswork div {
        text-align: center !important;
    }

    .itswork p {
        text-align: justify !important;
    }

    .reviewsspeak,
    .reviewsspeak {
        margin: 0 !important;
    }

    .realestate {
        border-radius: 0 100px 0 0;
    }

    .footer {
        border-radius: 100px 0 0 0;
    }

    .our-mission div {
        padding: 10px !important;
    }

    .our-mission p {
        text-align: justify;
    }

    .whoweserve,
    .whoweserve div {
        padding: 10px !important;
    }

    .realestate span {

        font-weight: 700 !important;
    }

    .blog-boxes .pricing-content {
        padding: 0 !important;
    }
}